body {
    padding-top: 5px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
}

div{
    display: block;
}


.container{
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;

}

header{
    padding-right: 50px;
    padding-left: 60px;
    border-radius: 8px;
    color: inherit;
    background-color: #a5a5a5;
    display: block;

}

h1{
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
header   div {
    margin-bottom: 10px;
}
p{
    text-align: center;
    font-size: 16px;
    display: block;
    margin-bottom: 5px;
}
