<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap 101 Template</title>
     <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
      {% load staticfiles %}
      <link href="{% static "critic/style.css" %}" rel="stylesheet">

  </head>
  <body>
    <div class="container">
         <header>
             <h1>Hello, this is a review page!</h1>
             <p>Select author</p>

             <form action="{% url 'review-book' %}" method="post">{% csrf_token %}

                <div align="center">
                     <select class="combobox" title="combo">
                         {% for val,txt in form.fields.book_name.choices %}
                         <option value="{{ val }}"> {{ txt }}</option>
                         {% endfor %}
                     </select>
                </div>

                <div align="center">
                    <textarea id="id_text" name="text"  title="text">{{ form.form.text }}</textarea>
                </div>

                <div align="center">
                    <input type="submit" class="btn btn-primary btn-lg" value="Send">
                </div>
             </form>

         </header>

    </div>



    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
  </body>
</html>