<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    <form action="{% url 'review-book' %}" method="post">{% csrf_token %}
    <div>
    <label for="book_name">Book name: </label>
    <select id= "id_book_name" name="book_name" title="title">
    {% for val,txt in form.fields.book_name.choices %}
        <option value="{{ val }}"> {{ txt }}</option>
    {% endfor %}
    </select>

    </div>
    <div>
        <textarea id="id_text"
        name="text" >{{ form.form.text }}
        </textarea>
    </div>
    <div>
    <input type="submit" value="Send">
    </div>
</form>
</body>
</html>