<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
     {% load staticfiles %}
     <link href="{% static "critic/style.css" %}" rel="stylesheet">
    <title></title>
</head>
<body>
 <p>Thanks</p>

</body>
</html>