<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap 101 Template</title>
    <link href="../bootstrap/css/bootstrap.min.css" rel="stylesheet">
      <link href="../static/critic/style.css" rel="stylesheet">

  </head>
  <body>
    <div class="container">
         <header>
             <h1>Hello, this is a review page!</h1>
             <div class="dropdown">
                 <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
                    Select Author
                 <span class="caret"></span>
                 </button>
                  <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                      {% for val,txt in form.fields.book_name.choices %}
                          <li role="presentation"><a role="menuitem" tabindex="-1" href="#">{{ val }} - {{ txt }}</a></li>
                      {% endfor %}
                  </ul>
             </div>
</header>
    </div>



    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="../bootstrap/js/bootstrap.min.js"></script>
  </body>
</html>